.hero-unit {
    padding: 20px 0;
    margin-top: 50px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
.running-polls-container {
    display: inline-block;
    width: 230px;
    max-height: 320px;
    margin: 10px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}
.running-polls {
    padding: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    list-style: none;
    text-align: left;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}
