.hero-unit.dashboard {
    margin-top: -20px;
}
.poll-container {
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
}
.option-container {
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
}
.option-container .input-label {
    float: left;
}
.option-container .btn {
    float: right;
}
.option-input {
    margin-bottom: 4px;
}
.input-title {
    font-weight: bold;
}
.created-poll {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 6px;
    line-height: 2.5;
}
.created-poll .input-label:hover {
    text-decoration: underline;
    cursor: pointer;
}
.created-poll-result {
    padding: 4px;
    border: 1px solid rgba(221, 221, 221, .8);
    border-radius: 6px;
}
.created-poll-result .input-label {
    float: left;
}
.created-poll-result .input-label:last-child {
    float: right;
}
.poll-vote .input-label {
    float: none;   
}